@import "bootstrap";

.places-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(179, 207, 255, 0.7);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('light-grey-terrazzo');
  font-family: 'EB Garamond', serif;
}

.navbar {
  background: image_url('darkness');
  -webkit-box-shadow: 0px 5px 6px 4px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 6px 4px rgba(0,0,0,0.57);
  box-shadow: 0px 5px 6px 4px rgba(0,0,0,0.57);
}